@import 'colors';

.cards {
    display: flex;
    width: 100%;
    height: 80%;
}


.weather-card, .datetime-card {
    border-bottom-style: solid;
    border-color: $black-coral;
    border-width: 1px;
    background-color: $grey;
    width: 25%;
    height: 100%;
}

.weather-card {
    border-left-style: solid;

    .weather-card-section {
        height: 33.3%;
        width: 100%;

        h1 {
            margin-block-end: 0px;
            margin-block-start: 0px;
        }
    }
}

.datetime-card {

}