@import 'colors';

.cards {
    display: flex;
    width: 100%;
    height: 80%;
}


.weather-card, .datetime-card {
    border-bottom-style: solid;
    border-color: $black-coral;
    border-width: 1px;
    background-color: $grey;
    width: 25%;
    height: 100%;
}

.weather-card {
    border-left-style: solid;

}